body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.main-body {
    height: 100vh;
    width: 100vw;
}

.map-container {
    height: 100vh;
    width: 100vw;
}

.side-bar {
    background: #c5c5c5;
    width: 20%;
    height: 100vh;
}

.main-content {
    width: 50%;
    display: inline;
}

.info_wrapper {
    width: 250px;
    height: 400px;
    text-align: center;
}

button.info_wrapper_button {
    background: #f7941d;
    border: none;
    padding: 10px 45px;
    color: #fff;
    cursor: pointer;
}
